body {
  margin: 0;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
div,
p {
  color: #222;
}

a {
  color: #1a49ef;
}

a.bland {
  color: #222;
  text-decoration: none;
}

input {
  font-family: monospace;
}

.btn {
  cursor: pointer;
  border-bottom: 3px solid #F8D938;
}

.btn:hover {
  border-color: #222;
}
