body {
  margin: 0;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
div,
p {
  color: #222;
}

a {
  color: #1a49ef;
}

a.bland {
  color: #222;
  text-decoration: none;
}

input {
  font-family: monospace;
}

.btn {
  cursor: pointer;
  border-bottom: 3px solid #f8d938;
}

.btn:hover {
  border-color: #222;
}

section {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #22222222;
}

.address-container .address {
  position: absolute;
  padding: 10px 15px;
  background: #faf3e8;
  font-size: 11px;
  display: none;
  text-align: left;
}

.address-container:hover .address {
  display: block;
}

.text-link {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.text-link:hover {
  border-bottom: 2px solid #f8d938;
}
